#info1
{margin-top: 20px;
font-size: 30px;
color: white;
text-align: center;
}
#info2
{
    text-align: center;
    padding-top: 40px; 
    
}

#info2 img
{
    width: 400px;
    height: 300px;
    border-radius: 50px; 
    
    
}

p button
{
    width: 150px;
    height: 60px;
    color: white;
    background-color: red;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 5px;
}

#About{
    color: white;
    
}
.aboutsection
{   
    padding: 10px 20px 10px 20px;
    width: 1250px;
    background-color: rgb(12, 12, 12);
    margin: 0px 20px 0px 20px;
    border-radius: 50px;
}

.aboutsection h1
{
    font-size: 50px;
    color: white;
    border-bottom: 2px;
}

.aboutsection h2
{margin-top: 30px;
    font-size: 20px;
    color: white;
}

#qualification
{   margin-top: 10px;
    font-size: 50px;
    color: white;
}

.Education
{  
    font-size: 16px;
    color: white;
}

.gallary1
{
    height: 250px;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
}
.gallary1:hover
{
    height:350px;
    width: 400px;
}
.bottom_border
{
    border-bottom: 5px solid white;
}