body{width: 100%;
    background-color: rgb(27, 25, 25)}


*
{
    margin: 0px;
    padding: 0px;
    
}
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;

    background: rgb(3, 3, 3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar
{display: flex;
align-items: center;
justify-content: center;
}

#navbar li
{ list-style: none;
    padding: 0 20px;
}

#navbar li a
{  text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
#navbar li a:hover
{
color: rgb(255, 81, 0);
border-bottom: 2px solid rgb(255, 81, 0);
}

#name
{
font-size: 40px;
}
.text{
background: linear-gradient(rgb(255, 0, 0),rgb(209, 245, 9));
-webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
}
#info
{   width: 1000px;
    height: 430px;
    margin-top: 50px;
    color: white;
    display: flex;
    border-radius: 2rem;
}
.info1
{  margin-top: 20px;
width: 600;
margin-top: 60px;
margin-left: 50px;
font-size: 30px;

}
.info2
{
    width: 400px;


}

.info2 img
{
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px white;
    
}
#logo
{
    padding-left: 30px;
}
#logo a
{
    text-decoration: none;
    color: white;
}
#logo i
{padding-left: 20px;
    padding-top: 10px;
}

p button
{
    width: 150px;
    height: 60px;
    color: white;
    background-color: red;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 5px;
}

.aboutsection
{   
    padding: 10px 20px 10px 20px;

    background-color: rgb(12, 12, 12);
    margin: 0px 20px 0px 20px;
    border-radius: 50px;
}

.aboutsection h1
{
    font-size: 50px;
    color: white;
    border-bottom: 2px;
}

.aboutsection h2
{margin-top: 30px;
    font-size: 20px;
    color: white;
}

#qualification
{   margin-top: 10px;
    font-size: 50px;
    color: white;
}

.Education
{  
    font-size: 16px;
    color: white;
}

.gallary1
{
    height: 250px;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
}
.gallary1:hover
{
    height: 500px;
    width: 500px;
}
.bottom_border
{
    border-bottom: 5px solid white;
}